body {
}

.text-field {
    width: 200px;
    height: 50px;
}

aside {
    background-color:#3F3B3B;
    height:100%;
    width:120px;
    
}

section {
    
    margin-left:120px;
}

div {

}

div.backGround{
    position:absolute;
    height:100%;
    width:100%;
}

form{
    position:inherit;
}

/*
    Dark-Grey: #3F3B3B
    Light-Grey: #9D9D9D

    Burn-Red: #BF0808

    Blue-Grey: #3278DC

*/